In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('Berlin_crimes.csv')
df.head()

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            1200 non-null   int64
 1   District        1200 non-null   object
 2   Code            1200 non-null   int64
 3   Location        1200 non-null   object
 4   Robbery         1200 non-null   int64
 5   Street_robbery  1200 non-null   int64
 6   Injury          1200 non-null   int64
 7   Agg_assault     1200 non-null   int64
 8   Threat          1200 non-null   int64
 9   Theft           1200 non-null   int64
 10  Car             1200 non-null   int64
 11  From_car        1200 non-null   int64
 12  Bike            1200 non-null   int64
 13  Burglary        1200 non-null   int64
 14  Fire            1200 non-null   int64
 15  Arson           1200 non-null   int64
 16  Damage          1200 non-null   int64
 17  Graffiti        1200 non-null   int64
 18  Drugs           1200 non-null   int64
 19  Local           1200 non-null   int64
dtypes: int64(18), object(2)
memory usage: 187.6+ KB